In [1]:
import pandas as pd
import numpy as np

In [4]:
french_data = pd.read_excel("raw_data/Outcomerea_FR.xlsx")
chinese_data = pd.read_excel("raw_data/Tongji_375_CN.xlsx")
holland_data = pd.read

In [3]:
french_data.head()

,id,HR_min,HR_max,SBP_min,SBP_max,DBP_min,DBP_max,SAPSII,RR,GCS,...,ldh_j1,ldh_j2,ldh_j3,ldh_j4,ldh_j5,L_pourc_J1,L_pourc_J2,L_pourc_J3,L_pourc_J4,L_pourc_J5
0,49,61,94,93,190,66,132,27,28,15,...,.,465.00,457.00,412.00,362.0,25.0000,.,.,.,.
1,52,85,105,90,107,56,73,31,28,15,...,652.0,900.00,.,.,.,.,13.3333,.,.,.
2,55,81,170,101,154,48,66,54,20,15,...,498.0,505.00,.,.,596.0,.,.,.,.,.
3,56,79,124,105,132,40,65,27,.,15,...,568.0,.,.,.,.,4.1667,.,.,.,.
4,58,77,90,110,166,54,80,47,.,15,...,455.0,450.00,535.00,.,497.0,10.0000,.,.,4.1176,.

In [5]:
chinese_data.head()

,PATIENT_ID,RE_DATE,age,gender,Admission time,Discharge time,outcome,Hypersensitive cardiac troponinI,hemoglobin,Serum chloride,...,mean corpuscular hemoglobin,Activation of partial thromboplastin time,Hypersensitive c-reactive protein,HIV antibody quantification,serum sodium,thrombocytocrit,ESR,glutamic-pyruvic transaminase,eGFR,creatinine
0,1.0,2020-01-31 01:09:00,73,1,2020-01-30 22:12:47,2020-02-17 12:40:09,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,2020-01-31 01:25:00,73,1,2020-01-30 22:12:47,2020-02-17 12:40:09,0,NaN,136.0,NaN,...,31.9,NaN,NaN,NaN,NaN,0.12,NaN,NaN,NaN,NaN
2,NaN,2020-01-31 01:44:00,73,1,2020-01-30 22:12:47,2020-02-17 12:40:09,0,NaN,NaN,103.1,...,NaN,NaN,43.1,NaN,137.7,NaN,NaN,16.0,46.6,130.0
3,NaN,2020-01-31 01:45:00,73,1,2020-01-30 22:12:47,2020-02-17 12:40:09,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,2020-01-31 01:56:00,73,1,2020-01-30 22:12:47,2020-02-17 12:40:09,0,19.9,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN