In [1]:
import pandas as pd
import numpy as np

In [2]:
french_data = pd.read_excel("raw_data/Outcomerea_FR.xlsx")
chinese_data = pd.read_excel("raw_data/Tongji_375_CN.xlsx")
holland_data = pd.read_excel("raw_data/St_Antonius_NL.xlsx")
chinese_data_2 = pd.read_excel("raw_data/Tongji_375_CN.xlsx")

In [5]:
chinese_data.head()

,PATIENT_ID,RE_DATE,age,gender,Admission time,Discharge time,outcome,Hypersensitive cardiac troponinI,hemoglobin,Serum chloride,...,mean corpuscular hemoglobin,Activation of partial thromboplastin time,Hypersensitive c-reactive protein,HIV antibody quantification,serum sodium,thrombocytocrit,ESR,glutamic-pyruvic transaminase,eGFR,creatinine
0,1.0,2020-01-31 01:09:00,73,1,2020-01-30 22:12:47,2020-02-17 12:40:09,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,2020-01-31 01:25:00,73,1,2020-01-30 22:12:47,2020-02-17 12:40:09,0,NaN,136.0,NaN,...,31.9,NaN,NaN,NaN,NaN,0.12,NaN,NaN,NaN,NaN
2,NaN,2020-01-31 01:44:00,73,1,2020-01-30 22:12:47,2020-02-17 12:40:09,0,NaN,NaN,103.1,...,NaN,NaN,43.1,NaN,137.7,NaN,NaN,16.0,46.6,130.0
3,NaN,2020-01-31 01:45:00,73,1,2020-01-30 22:12:47,2020-02-17 12:40:09,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,2020-01-31 01:56:00,73,1,2020-01-30 22:12:47,2020-02-17 12:40:09,0,19.9,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
chinese_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6120 entries, 0 to 6119
Data columns (total 81 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   PATIENT_ID                                                     375 non-null    float64
 1   RE_DATE                                                        6106 non-null   datetime64[ns]
 2   age                                                            6120 non-null   int64
 3   gender                                                         6120 non-null   int64
 4   Admission time                                                 6120 non-null   datetime64[ns]
 5   Discharge time                                                 6120 non-null   datetime64[ns]
 6   outcome                                                        6120 non-null   int64
 7   Hypersensitive cardiac troponinI                               507 non-null    float64
 8   hemoglobin                                                     975 non-null    float64
 9   Serum chloride                                                 975 non-null    float64
 10  Prothrombin time                                               662 non-null    float64
 11  procalcitonin                                                  459 non-null    float64
 12  eosinophils(%)                                                 957 non-null    float64
 13  Interleukin 2 receptor                                         268 non-null    float64
 14  Alkaline phosphatase                                           930 non-null    float64
 15  albumin                                                        934 non-null    float64
 16  basophil(%)                                                    957 non-null    float64
 17  Interleukin 10                                                 267 non-null    float64
 18  Total bilirubin                                                930 non-null    float64
 19  Platelet count                                                 957 non-null    float64
 20  monocytes(%)                                                   958 non-null    float64
 21  antithrombin                                                   330 non-null    float64
 22  Interleukin 8                                                  268 non-null    float64
 23  indirect bilirubin                                             906 non-null    float64
 24  Red blood cell distribution width                              923 non-null    float64
 25  neutrophils(%)                                                 957 non-null    float64
 26  total protein                                                  931 non-null    float64
 27  Quantification of Treponema pallidum antibodies                279 non-null    float64
 28  Prothrombin activity                                           659 non-null    float64
 29  HBsAg                                                          279 non-null    float64
 30  mean corpuscular volume                                        957 non-null    float64
 31  hematocrit                                                     957 non-null    float64
 32  White blood cell count                                         1127 non-null   float64
 33  Tumor necrosis factorÎ±                                         268 non-null    float64
 34  mean corpuscular hemoglobin concentration                      957 non-null    float64
 35  fibrinogen                                                     566 non-null    float64
 36  Interleukin 1Î²                                                 268 non-null    float64
 37  Urea                                                           936 non-null    float64
 38  lymphocyte count                                               957 non-null    float64
 39  PH value                                                       384 non-null    float64
 40  Red blood cell count                                           1127 non-null   float64
 41  Eosinophil count                                               957 non-null    float64
 42  Corrected calcium                                              914 non-null    float64
 43  Serum potassium                                                980 non-null    float64
 44  glucose                                                        775 non-null    float64
 45  neutrophils count                                              957 non-null    float64
 46  Direct bilirubin                                               930 non-null    float64
 47  Mean platelet volume                                           862 non-null    float64
 48  ferritin                                                       283 non-null    float64
 49  RBC distribution width SD                                      923 non-null    float64
 50  Thrombin time                                                  566 non-null    float64
 51  (%)lymphocyte                                                  958 non-null    float64
 52  HCV antibody quantification                                    279 non-null    float64
 53  D-D dimer                                                      630 non-null    float64
 54  Total cholesterol                                              931 non-null    float64
 55  aspartate aminotransferase                                     935 non-null    float64
 56  Uric acid                                                      934 non-null    float64
 57  HCO3-                                                          934 non-null    float64
 58  calcium                                                        979 non-null    float64
 59  Amino-terminal brain natriuretic peptide precursor(NT-proBNP)  475 non-null    float64
 60  Lactate dehydrogenase                                          934 non-null    float64
 61  platelet large cell ratio                                      862 non-null    float64
 62  Interleukin 6                                                  272 non-null    float64
 63  Fibrin degradation products                                    330 non-null    float64
 64  monocytes count                                                957 non-null    float64
 65  PLT distribution width                                         862 non-null    float64
 66  globulin                                                       930 non-null    float64
 67  Î³-glutamyl transpeptidase                                      930 non-null    float64
 68  International standard ratio                                   659 non-null    float64
 69  basophil count(#)                                              957 non-null    float64
 70  2019-nCoV nucleic acid detection                               501 non-null    float64
 71  mean corpuscular hemoglobin                                    957 non-null    float64
 72  Activation of partial thromboplastin time                      568 non-null    float64
 73  Hypersensitive c-reactive protein                              737 non-null    float64
 74  HIV antibody quantification                                    278 non-null    float64
 75  serum sodium                                                   975 non-null    float64
 76  thrombocytocrit                                                862 non-null    float64
 77  ESR                                                            383 non-null    float64
 78  glutamic-pyruvic transaminase                                  931 non-null    float64
 79  eGFR                                                           936 non-null    float64
 80  creatinine                                                     936 non-null    float64
dtypes: datetime64[ns](3), float64(75), int64(3)
memory usage: 3.8 MB

In [10]:
chinese_data_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6120 entries, 0 to 6119
Data columns (total 81 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   PATIENT_ID                                                     375 non-null    float64
 1   RE_DATE                                                        6106 non-null   datetime64[ns]
 2   age                                                            6120 non-null   int64
 3   gender                                                         6120 non-null   int64
 4   Admission time                                                 6120 non-null   datetime64[ns]
 5   Discharge time                                                 6120 non-null   datetime64[ns]
 6   outcome                                                        6120 non-null   int64
 7   Hypersensitive cardiac troponinI                               507 non-null    float64
 8   hemoglobin                                                     975 non-null    float64
 9   Serum chloride                                                 975 non-null    float64
 10  Prothrombin time                                               662 non-null    float64
 11  procalcitonin                                                  459 non-null    float64
 12  eosinophils(%)                                                 957 non-null    float64
 13  Interleukin 2 receptor                                         268 non-null    float64
 14  Alkaline phosphatase                                           930 non-null    float64
 15  albumin                                                        934 non-null    float64
 16  basophil(%)                                                    957 non-null    float64
 17  Interleukin 10                                                 267 non-null    float64
 18  Total bilirubin                                                930 non-null    float64
 19  Platelet count                                                 957 non-null    float64
 20  monocytes(%)                                                   958 non-null    float64
 21  antithrombin                                                   330 non-null    float64
 22  Interleukin 8                                                  268 non-null    float64
 23  indirect bilirubin                                             906 non-null    float64
 24  Red blood cell distribution width                              923 non-null    float64
 25  neutrophils(%)                                                 957 non-null    float64
 26  total protein                                                  931 non-null    float64
 27  Quantification of Treponema pallidum antibodies                279 non-null    float64
 28  Prothrombin activity                                           659 non-null    float64
 29  HBsAg                                                          279 non-null    float64
 30  mean corpuscular volume                                        957 non-null    float64
 31  hematocrit                                                     957 non-null    float64
 32  White blood cell count                                         1127 non-null   float64
 33  Tumor necrosis factorÎ±                                         268 non-null    float64
 34  mean corpuscular hemoglobin concentration                      957 non-null    float64
 35  fibrinogen                                                     566 non-null    float64
 36  Interleukin 1Î²                                                 268 non-null    float64
 37  Urea                                                           936 non-null    float64
 38  lymphocyte count                                               957 non-null    float64
 39  PH value                                                       384 non-null    float64
 40  Red blood cell count                                           1127 non-null   float64
 41  Eosinophil count                                               957 non-null    float64
 42  Corrected calcium                                              914 non-null    float64
 43  Serum potassium                                                980 non-null    float64
 44  glucose                                                        775 non-null    float64
 45  neutrophils count                                              957 non-null    float64
 46  Direct bilirubin                                               930 non-null    float64
 47  Mean platelet volume                                           862 non-null    float64
 48  ferritin                                                       283 non-null    float64
 49  RBC distribution width SD                                      923 non-null    float64
 50  Thrombin time                                                  566 non-null    float64
 51  (%)lymphocyte                                                  958 non-null    float64
 52  HCV antibody quantification                                    279 non-null    float64
 53  D-D dimer                                                      630 non-null    float64
 54  Total cholesterol                                              931 non-null    float64
 55  aspartate aminotransferase                                     935 non-null    float64
 56  Uric acid                                                      934 non-null    float64
 57  HCO3-                                                          934 non-null    float64
 58  calcium                                                        979 non-null    float64
 59  Amino-terminal brain natriuretic peptide precursor(NT-proBNP)  475 non-null    float64
 60  Lactate dehydrogenase                                          934 non-null    float64
 61  platelet large cell ratio                                      862 non-null    float64
 62  Interleukin 6                                                  272 non-null    float64
 63  Fibrin degradation products                                    330 non-null    float64
 64  monocytes count                                                957 non-null    float64
 65  PLT distribution width                                         862 non-null    float64
 66  globulin                                                       930 non-null    float64
 67  Î³-glutamyl transpeptidase                                      930 non-null    float64
 68  International standard ratio                                   659 non-null    float64
 69  basophil count(#)                                              957 non-null    float64
 70  2019-nCoV nucleic acid detection                               501 non-null    float64
 71  mean corpuscular hemoglobin                                    957 non-null    float64
 72  Activation of partial thromboplastin time                      568 non-null    float64
 73  Hypersensitive c-reactive protein                              737 non-null    float64
 74  HIV antibody quantification                                    278 non-null    float64
 75  serum sodium                                                   975 non-null    float64
 76  thrombocytocrit                                                862 non-null    float64
 77  ESR                                                            383 non-null    float64
 78  glutamic-pyruvic transaminase                                  931 non-null    float64
 79  eGFR                                                           936 non-null    float64
 80  creatinine                                                     936 non-null    float64
dtypes: datetime64[ns](3), float64(75), int64(3)
memory usage: 3.8 MB

In [3]:
french_data.head()

,id,HR_min,HR_max,SBP_min,SBP_max,DBP_min,DBP_max,SAPSII,RR,GCS,...,ldh_j1,ldh_j2,ldh_j3,ldh_j4,ldh_j5,L_pourc_J1,L_pourc_J2,L_pourc_J3,L_pourc_J4,L_pourc_J5
0,49,61,94,93,190,66,132,27,28,15,...,.,465.00,457.00,412.00,362.0,25.0000,.,.,.,.
1,52,85,105,90,107,56,73,31,28,15,...,652.0,900.00,.,.,.,.,13.3333,.,.,.
2,55,81,170,101,154,48,66,54,20,15,...,498.0,505.00,.,.,596.0,.,.,.,.,.
3,56,79,124,105,132,40,65,27,.,15,...,568.0,.,.,.,.,4.1667,.,.,.,.
4,58,77,90,110,166,54,80,47,.,15,...,455.0,450.00,535.00,.,497.0,10.0000,.,.,4.1176,.

In [3]:
french_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 43 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  178 non-null    int64
 1   HR_min              178 non-null    int64
 2   HR_max              178 non-null    int64
 3   SBP_min             178 non-null    int64
 4   SBP_max             178 non-null    int64
 5   DBP_min             178 non-null    int64
 6   DBP_max             178 non-null    int64
 7   SAPSII              178 non-null    int64
 8   RR                  178 non-null    object
 9   GCS                 178 non-null    int64
 10  date_hospital_admi  178 non-null    datetime64[ns]
 11  date_hospital_end   178 non-null    object
 12  date_ICU_admi       178 non-null    datetime64[ns]
 13  date_ICU_end        178 non-null    datetime64[ns]
 14  date_death          178 non-null    object
 15  time_smyp_ICUadmi   178 non-null    int64
 16  male                178 non-null    int64
 17  ICU_LOS             178 non-null    int64
 18  ICU_DC              178 non-null    int64
 19  time_hosp_ICU       178 non-null    int64
 20  Age                 178 non-null    int64
 21  Death_D28           178 non-null    int64
 22  Death_D7            178 non-null    int64
 23  ddimere_J1          178 non-null    object
 24  ddimere_J2          178 non-null    object
 25  ddimere_J3          178 non-null    object
 26  ddimere_J4          178 non-null    object
 27  ddimere_J5          178 non-null    object
 28  crp_J1              178 non-null    object
 29  crp_J2              178 non-null    object
 30  crp_J3              178 non-null    object
 31  crp_J4              178 non-null    object
 32  crp_J5              178 non-null    object
 33  ldh_j1              178 non-null    object
 34  ldh_j2              178 non-null    object
 35  ldh_j3              178 non-null    object
 36  ldh_j4              178 non-null    object
 37  ldh_j5              178 non-null    object
 38  L_pourc_J1          178 non-null    object
 39  L_pourc_J2          178 non-null    object
 40  L_pourc_J3          178 non-null    object
 41  L_pourc_J4          178 non-null    object
 42  L_pourc_J5          178 non-null    object
dtypes: datetime64[ns](3), int64(17), object(23)
memory usage: 59.9+ KB

In [6]:
french_data[french_data == "."].count()

id                      0
HR_min                  0
HR_max                  0
SBP_min                 0
SBP_max                 0
DBP_min                 0
DBP_max                 0
SAPSII                  0
RR                     14
GCS                     0
date_hospital_admi      0
date_hospital_end      30
date_ICU_admi           0
date_ICU_end            0
date_death            116
time_smyp_ICUadmi       0
male                    0
ICU_LOS                 0
ICU_DC                  0
time_hosp_ICU           0
Age                     0
Death_D28               0
Death_D7                0
ddimere_J1             78
ddimere_J2             69
ddimere_J3             55
ddimere_J4             69
ddimere_J5             71
crp_J1                 40
crp_J2                 49
crp_J3                 53
crp_J4                 64
crp_J5                 71
ldh_j1                 18
ldh_j2                 42
ldh_j3                 61
ldh_j4                 67
ldh_j5                 75
L_pourc_J1             33
L_pourc_J2             35
L_pourc_J3             45
L_pourc_J4             47
L_pourc_J5             58
dtype: int64

In [11]:
french_data = french_data.replace('.', np.nan)

In [12]:
french_data.head()

,id,HR_min,HR_max,SBP_min,SBP_max,DBP_min,DBP_max,SAPSII,RR,GCS,...,ldh_j1,ldh_j2,ldh_j3,ldh_j4,ldh_j5,L_pourc_J1,L_pourc_J2,L_pourc_J3,L_pourc_J4,L_pourc_J5
0,49,61,94,93,190,66,132,27,28.0,15,...,NaN,465.00,457.00,412.00,362.0,25.0000,NaN,NaN,NaN,NaN
1,52,85,105,90,107,56,73,31,28.0,15,...,652.0,900.00,NaN,NaN,NaN,NaN,13.3333,NaN,NaN,NaN
2,55,81,170,101,154,48,66,54,20.0,15,...,498.0,505.00,NaN,NaN,596.0,NaN,NaN,NaN,NaN,NaN
3,56,79,124,105,132,40,65,27,NaN,15,...,568.0,NaN,NaN,NaN,NaN,4.1667,NaN,NaN,NaN,NaN
4,58,77,90,110,166,54,80,47,NaN,15,...,455.0,450.00,535.00,NaN,497.0,10.0000,NaN,NaN,4.1176,NaN

In [ ]:
#Te dane chiÅ„skie (?) sÄ… bardzo wybrakowane, nwm czy coÅ› z nich wyÅ‚uskamy
#Te francuskie nie sÄ… opisane i nie wiem co jest, a co nie jest potrzebna
#Holenderskie sÄ… git

In [7]:
holland_data.head()

,Age,Gender,Date of presentation emergency room,Date of admission,Date of discharge,Admission to ICU,Survival/death,Date of death,Days from admission to death,Date blood analysis,LD,CRP,Lymphocytes,Leukocytes,Percentage lymphocytes
0,73,Male,2020-03-19,2020-03-19 00:00:00,2020-05-26 00:00:00,Yes,Alive,NaT,NaN,2020-03-19,485,154,0.62,6.6,9.393939
1,60,Female,2020-03-18,2020-03-18 00:00:00,2020-03-22 00:00:00,No,Alive,NaT,NaN,2020-03-20,316,77,1.61,7.7,20.909091
2,44,Female,2020-03-20,2020-03-20 00:00:00,2020-03-24 00:00:00,No,Alive,NaT,NaN,2020-03-20,444,82,0.81,6.8,11.911765
3,58,Male,2020-03-20,2020-03-20 00:00:00,2020-03-23 00:00:00,Yes,Alive,NaT,NaN,2020-03-20,323,58,0.73,5.8,12.586207
4,66,Male,2020-03-20,2020-03-20 00:00:00,2020-03-25 00:00:00,No,Alive,NaT,NaN,2020-03-20,244,20,1.39,5.1,27.254902

In [8]:
holland_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 305 entries, 0 to 304
Data columns (total 15 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Age                                  305 non-null    int64
 1   Gender                               305 non-null    object
 2   Date of presentation emergency room  305 non-null    datetime64[ns]
 3   Date of admission                    305 non-null    object
 4   Date of discharge                    305 non-null    object
 5   Admission to ICU                     305 non-null    object
 6   Survival/death                       305 non-null    object
 7   Date of death                        61 non-null     datetime64[ns]
 8   Days from admission to death         62 non-null     float64
 9   Date blood analysis                  305 non-null    datetime64[ns]
 10  LD                                   305 non-null    int64
 11  CRP                                  305 non-null    int64
 12  Lymphocytes                          305 non-null    float64
 13  Leukocytes                           305 non-null    float64
 14  Percentage lymphocytes               305 non-null    float64
dtypes: datetime64[ns](3), float64(4), int64(3), object(5)
memory usage: 35.9+ KB